<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" internalLogLevel="Trace" internalLogFile="logs/internalLog.txt"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="t1" type="File"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/${date:format=yyyy-MM-dd HH}.log"
            layout="[${longdate}] [${callsite}] [${level}] : [${message}] [${event-context:item=exception}] [${stacktrace}] [${event-context:item=stacktrace}]"
      />
    <target name="t2" type="Console" layout="${date:format=yyyy-MM-dd HH:mm:ss} ${callsite} ${level} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="t1" />
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="t2" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <!--Skip System logs and so log only own logs-->
    <logger name="System.*" minlevel="Trace" final="true" />
  </rules>
</nlog>

<!--
详情参考:http://blog.csdn.net/w174504744/article/details/51062967
  Nlog配置笔记
  属性值:
  ${basedir}:程序根目录
  ${level}:日志等级
  ${shortdate}:短时间格式  例:2017-10-18
  ${longdate}:长时间格式  例:2017-10-18 19:04:30:1122
  ${message}:日志信息
  ${callsite}:输出日志时的完整类名
  ${date:format=yyyyMMddHHmmss}:以指定的时间格式
  
  属性:
  <Nlog/>
      autoReload:修改配置文件时，自动重载
  <target/>
      layout:指定以固定的日志格式输出
      type:以指定方式输出日志，(File,Console,E-Mail,Sql)
      filename:指定文件输出路径,如果路径不存在自动创建
      name:标签名
      Encoding:设置输出文本格式(utf-8、ascii、gb2312等等)
      maxArchiveFiles:最大保存本地文件个数，超过自动删除旧日志
      archiveFileName:保存本地的文件名
      keepFileOpen
  <logger/>
      writeto:输出到指定目标，多个目标用逗号分隔
  标签:
  <target>:通过设置各个属性值，定义日志输出
  <rules>:
  <logger>:通过设置各个属性值，指定日志输出计划，包括最低最高日志输出等级，指定输出目标
  
  模板:(需要被指定章节 Section)
  <Nlog>
    <targets>
      <target name="target1" type="File" filename="${basedir}..."/>
      <target name="target2"/>
    </targets>
    <rules>
      <logger writeto="target1,target2"/>
    </rules>
  </Nlog>
-->
