@page
@model WebSocketModel
@{
}

<div id="msgContainer"></div>
<a onclick="OpenConncetion()">打开连接</a>
<a onclick="SendMsg()">发送信息</a>

<script>
    var container = document.getElementById("msgContainer");//获取信息接收容器
    var ws;
    function OpenConncetion() {
        function checkProtocol(protocol) { 
            switch (protocol) {
                case "https:":
                    return "wss";
                case "http:":
                    return "ws";
                default:
                    throw "protocol is undefined !!";
            }
        }
  
        ws = new WebSocket(`${checkProtocol(window.location.protocol)}://${window.location.host}`);

        ws.onopen = () => {
            console.log('webSocket is open');
        };

        ws.onmessage = (event) => {
            console.log('new message: ' + event.data);
            container.innerHTML += `${event.data}\r\n`;
        };

        ws.onerror = () => {
            console.log('error occurred!');
        };

        ws.onclose = (event) => {
            console.log('close code=' + event.code);
        };
    }
    function SendMsg() {
        ws.send(`test  msg   ${(new Date()).toJSON()}`);
    }

</script>



































