@page
@model WebSocketModel
@{
}

<div id="msgContainer"></div>
<a onclick="OpenConncetion()">打开连接</a>
<a onclick="SendMsg()">发送信息</a>

<script>
    var container = document.getElementById("msgContainer");//获取信息接收容器
    var ws;
    function OpenConncetion() {
        ws = new WebSocket(`wss://${window.location.host}/ws`);

        ws.onopen = () => {
            console.log('open');
        };

        ws.onmessage = (event) => {
            console.log('new message: ' + event.data);
            container.innerHTML += `${event.data}\r\n`;
        };

        ws.onerror = () => {
            console.log('error occurred!');
        };

        ws.onclose = (event) => {
            console.log('close code=' + event.code);
        };
    }
    function SendMsg() {
        ws.send("测试信息");
    }

</script>



































