<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" internalLogLevel="Trace" internalLogFile="logs/internalLog.txt"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="t1" type="File"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}/${date:format=yyyy-MM-dd HH}.log"
            layout="[${longdate}] [${callsite}] [${level}]: [${message}] [${event-context:item=exception}] [${stacktrace}] [${event-context:item=stacktrace}]"
      />
    <target name="t2" type="Console" layout="${date:format=yyyyMMddHHmmss} ${callsite} ${level} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="t1" />
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="t2" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <!--Skip System logs and so log only own logs-->
    <logger name="System.*" minlevel="Trace" final="true" />
  </rules>
</nlog>